.main-container { 
  display: grid;
  grid-template-columns: 72% 28%;
}

.list-style-none { list-style: none; }

.nav-sub-header { padding-top: 6px; }

.nav-sub-header::marker { color: white; }

.border-left { border-left: 2px solid black; }

.nav-chapter-title { font-weight: bold }

a { color: inherit; }

@media only screen and (max-width: 600px) {
  .main-container { 
    display: grid;
    grid-template-columns: 65% 35%;
  }
  
  a { font-size: 12px }

  .director {
    list-style: none;
  }
}