.main-container { 
  display: grid;
  grid-template-columns: 75% 25%;
}

.list-style-none { list-style: none; }

a { color: inherit; }

@media only screen and (max-width: 600px) {
  .main-container { 
    display: grid;
    grid-template-columns: 65% 35%;
  }
  a { font-size: 12px }
}